@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply bg-gray-200; */
    /* #1c1c1c */
    background-color: #1c1c1c;
    /* border-color: #d61111;

    border-radius: 24px; */
}

.evickaStudioStyle {
    color: #c9d1d9; /* Ändert die Textfarbe zu Rot */
    font-size: 20px; /* Ändert die Schriftgröße zu 20px */
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
}

.btn {
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply px-4;
    @apply py-2;
    @apply border;
    @apply border-transparent;
    @apply text-sm;
    @apply font-medium;
    @apply whitespace-nowrap;
    @apply rounded-md;
    @apply shadow-sm;
    @apply text-white;
    @apply bg-indigo-600;
    @apply hover:bg-indigo-700;
    @apply focus:outline-none;
    @apply focus:ring-2;
    @apply focus:ring-offset-2;
    @apply focus:ring-indigo-500;
}

.popupContainer {
    min-width: 300px;
    min-height: 300px;
    display: flex;
}
